*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.backToTop {
    position: fixed;
    bottom: 1.5em;
    right: 0.9em;
    z-index: 99;
    display: none;
}

.backToTop svg {
    transition: 1s;
}

.backToTop svg:hover {
    cursor: pointer;
}


.div1 {
    position: relative;
    border-color: #41B883;
}

.div1:before, .div1:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    box-sizing: border-box;
    position: absolute;

}

.div1:before {
    top: 0;
    left: 0;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
}

.div1:after {
    right: 0;
    bottom: 0;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
}

/*.div1:hover:before {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transition: width 0.2s ease-in, height 0.2s ease-in 0.2s;*/
/*    border-top-color: #41B883;*/
/*    border-right-color: #41B883;*/
/*}*/

/*.div1:hover:after {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.4s, height 0.3s ease-in 0.6s;*/
/*    border-bottom-color: #41B883;*/
/*    border-left-color: #41B883;*/
/*}*/