*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.backToTop {
    position: fixed;
    bottom: 1.5em;
    right: 0.9em;
    z-index: 99;
    display: none;
}

.backToTop svg {
    transition: 1s;
}

.backToTop svg:hover {
    cursor: pointer;
}
